<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaDAjLiCs7X_hPbNV4nNistFjTl8DrjSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>27708723720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaifeng.FocusEureka</string>
	<key>PROJECT_ID</key>
	<string>focuseureka</string>
	<key>STORAGE_BUCKET</key>
	<string>focuseureka.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27708723720:ios:e4eb214eb1e9a635a0f7bd</string>
</dict>
</plist>